* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
	font-family: verdana;
  display: block;
  font-size: 25px;
  margin: 18px;
  font-weight: bold;
}

strong {
	font-weight: bold;
}

p {
	font-family: verdana;
	font-size: 13px;
	line-height: 18px;
	margin: 28px;
}

h1 {
  display: block;
  font-size: 28px;
  margin: 18px;
  font-weight: bold;
}

.th {
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
  margin-left: 18px;
}

tr {
  vertical-align: inherit;
}

h3 {
  display: block;
  font-size: 25px;
  margin: 18px;
  font-weight: bold;
}

h4 {
  margin-left: 18px;
}


